html{
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

.largetitle{
    font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 600;
font-style: normal;
font-size: 400%;
padding:2%;
color: rgb(0, 153, 255);
margin-bottom: 1%;
margin: auto;
text-align: center;
  }

  .subtitle{
    font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 500;
font-style: normal;
color:rgb(114, 114, 114);
font-size: 110%;
padding:2%;
margin: auto;
text-align: left;
width: 50%;
  }

  .portpics{
    width: 33%;
    height: auto;
    padding: 1%;
    transition: all 3s ease;
    z-index: 1;
  }
  .portpics:hover {
    z-index: 100;
    width: 50%;
  }

  .picgrid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 974px) {
    .picgrid {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 974px) {
    .portpics {
      width:80%;
      height:auto;
    }
    .portpics:hover {
      z-index: 100;
      width: 95%;
    }
  }

  @media only screen and (max-width: 974px) {
    .largetitle {
      font-size: 250%;
    }
  }

  @media only screen and (max-width: 974px) {
    .subtitle {
      font-size: 100%;
      text-align: center;
      width: 95%;
    }
  }
  .home{
    font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 600;
font-style: normal;
font-size: 200%;
padding:2%;
color: rgb(0, 0, 0);
margin-bottom: 1%;
margin: auto;
text-align: center;
  }

  a:link    { color: inherit; text-decoration: none; }
  a:visited { color: inherit; text-decoration: none; }
  a:hover   { color: inherit; text-decoration: none; }
  a:active  { color: inherit; text-decoration: none; }

.hyperlink{
  color:rgb(0, 153, 255);
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  /* color:rgb(114, 114, 114); */
  font-size: 110%;
  padding:0.5%;
  margin: auto;
  text-align: center;
}

#resume{
  color: rgb(253, 76, 0);
  transition: all 1s;
}


.contactlist{
  transition: all 1s;
}

.sidebar{
  position: sticky;
  z-index: 300;
  width: 10vw;
  height:100%;
  background-color: aquamarine;
  bottom:0%;
  left:0%;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5vw;
}

.musicvid{
  margin-left: 17.5%;
}
