html{
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
#headerlogo{
  position: fixed;
  font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 600;
font-style: normal;
font-size: 200%;
color: black;
margin: auto;
text-align: left;
padding-top: 1%;
padding-left: 5%;
z-index: 400;
}
#navbar{
  height: 10%;
  position: fixed;
  list-style-type: none;
  color:black;
  font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 100;
font-style: normal;
  font-size: 100%;
  left: 60%;
  top: 7.6%;
  width:50%;
  margin-top: -3%;
  z-index: 400;
}
#navbarbg{
  background-color: rgba(255, 255, 255, 0.573);
  backdrop-filter: blur(10px);
  z-index: 399;
  width: 105%;
  height: 10%;
  position: fixed;
  margin-left: -1%;
  margin-top: -1%;
}
#navbarlist{
  list-style-type: none;
}

#navbar li{
  margin-right: 14%;
  float: left;
}

#mobilenav{
  position: fixed;
  z-index: 400;
  font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 100;
font-style: normal;
  font-size: 100%;
  left: 80%;
  padding-top: 2%;
  display: none;
}

/* #dropdown{
  position: absolute;
  list-style-type: none;
  color:black;
  font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 100;
font-style: normal;
  font-size: 100%;
  left: 83%;
  top: 15%;
  width:10%;
  line-height: 400%;
  background-color: antiquewhite;
  margin: 0%;
    padding:0%;
  display: none;
} */

.largetitle{
    font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 100;
font-style: normal;
font-size: 400%;
padding:2%;
color: rgb(0, 153, 255);
margin-bottom: 1%;
margin: auto;
text-align: center;
padding-top: 6%;
  }

  #clickaname{
    font-size: 200%;
    color: black;
  }

  .designprocess{
    font-size: 200%;
    color: black;
  }

  .subtitle{
    font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 500;
font-style: normal;
color:rgb(114, 114, 114);
font-size: 110%;
padding:2%;
margin: auto;
text-align: left;
width: 50%;
line-height: 200%;
  }

  .portpics{
    width: 33%;
    height: auto;
    padding: 1%;
    transition: all 3s ease;
    z-index: 1;
  }

  .metpics{
    width: 33%;
    height: auto;
    padding: 1%;
    z-index: 1;
  }

  .metemailpics{
    width: 70%;
    height: auto;
    padding: 1%;
    z-index: 1;
  }

  .aidapics{
    width: 25%;
    height: auto;
    padding: 3%;
    transition: all 3s ease;
    z-index: 1;
  }

  .portpicsJAN{
    width: 20%;
    height: auto;
    padding: 1%;
    transition: all 3s ease;
    z-index: 1;
  }

  .portpicsmoma{
    width: 24%;
    height: auto;
    padding: 1%;
    transition: all 3s ease;
    z-index: 1;
  }

  .portpics:hover {
    z-index: 100;
    width: 50%;
  }
  .portpicsJAN:hover {
    z-index: 100;
    width: 30%;
  }

  .picgrid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .picgridJAN{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .picgridmoma{
    float: left;
    padding-left: 10%;
  }

  .textblockmobile{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    color:rgb(114, 114, 114);
    font-size: 100%;
    padding:2%;
    margin: auto;
    text-align: center;
    width: 90%;
    line-height:175%;
    display:none;
   }
  
   .videoboxmobile{
    margin-bottom: 5%;
    z-index:3;
    width:60%;
    height:53%;
  margin-left:20%;
  margin-top: 1.3%;
  display:none;
  }

  @media only screen and (max-width: 974px) {
    .picgrid {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 974px) {
    .subtitle {
      line-height: 1.33;
    }
    .portpics {
      width:80%;
      height:auto;
    }
    .metpics {
      width:80%;
      height:auto;
    }
    .metemailpics {
      width:90%;
      height:auto;
    }
    .aidapics {
      width:80%;
      height:auto;
    }
    .portpicsJAN {
      width:40%;
      height:auto;
    }
    .portpics:hover {
      z-index: 100;
      width: 95%;
    }
    .portpicsJAN:hover {
      z-index: 100;
      width: 81%;
    }
    .musicvid{
      height:18%;
    }
    .fathomvids{
      width:70%;
      padding-bottom: 5%;
    }
    .musicvidJAN{
      height:auto;
    }
    .textblock{
      display: none;
    }
    .videobox{
      display:none;
    }
    .picgridmoma{
      display: none;
    }
    .largetitle2{
      display:none;
    }
    #clickaname{
      display:none;
    }
    .videoboxmobile{
      display:block;
    }
    .textblockmobile{
      display:block;
    }
    #sidebar{
      display: none;
    }
    #navbar{
      display:none;
    }
    #headerlogo{
      text-align: center;
      font-size: 175%;
      padding-top: 3.5%;
    }
    #mobilenav{
      display: block;
    }
  }

  @media only screen and (max-width: 974px) {
    .largetitle {
      font-size: 250%;
      padding-top: 20%;
    }
  }

  @media only screen and (max-width: 974px) {
    .subtitle {
      font-size: 100%;
      /* text-align: center; */
      width: 90%;
    }
  }
  .home{
    font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 600;
font-style: normal;
font-size: 200%;
padding:2%;
color: rgb(0, 0, 0);
margin-bottom: 1%;
margin: auto;
text-align: center;
  }

  a:link    { color: inherit; text-decoration: none; }
  a:visited { color: inherit; text-decoration: none; }
  a:hover   { color: inherit; text-decoration: none; }
  a:active  { color: inherit; text-decoration: none; }

.hyperlink{
  color:rgb(0, 153, 255);
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  /* color:rgb(114, 114, 114); */
  font-size: 110%;
  padding:0.5%;
  margin: auto;
  text-align: center;
}

#resume{
  color: rgb(253, 76, 0);
  transition: all 1s;
}


.contactlist{
  line-height: 2;
  transition: all 1s;
}


.musicvid{
  margin-left: 17.5%;
}

.fathomvids{
  margin-left: 17.5%;
}

.musicvidJAN{
  margin-left: 17.5%;
}

.videobox{
  position: absolute;
  z-index:3;
  width:19vw;
height: 41vw;
left:12%;
margin-top: 1.3%;
border-radius: 3vw;
mix-blend-mode:darken;
background-color: rgba(0, 0, 0, 0.767);
}

#martinvid{
  display: none;
}

#bowlingvid{
  display: none;
}

#twomblyvid{
  display: none;
}

#lewvid{
  display: none;
}

#matissevid{
  display: none;
}

#martintextblock{
  display:none;
}

#bowlingtextblock{
  display:none;
}

#twomblytextblock{
  display:none;
}

#lewtextblock{
  display:none;
}

#matissetextblock{
  display:none;
}
.artexplainedfile{
  border-radius: 3vw;
}

.largetitle2{
  font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 600;
font-style: normal;
font-size: 3vw;
padding:2%;
color: rgb(0, 153, 255);
margin-bottom: 1%;
margin: auto;
text-align: center;
cursor: pointer;
}

#martin:hover{
  color:rgb(253, 76, 0);
}
#bowling:hover{
  color:rgb(253, 76, 0);
}
#twombly:hover{
  color:rgb(253, 76, 0);
}
#lew:hover{
  color:rgb(253, 76, 0);
}
#matisse:hover{
  color:rgb(253, 76, 0);
}

.textblock{
  font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 500;
font-style: normal;
line-height: 250%;
color:rgb(114, 114, 114);
font-size: 1.1vw;
width: 50%;
height:auto;
position:absolute;
left:40%;
margin-top: 2%;
}
 .italicize{
  font-style: italic;
 }
 .boldize{
  font-weight: bold;
  color:rgb(0, 153, 255);
 }

 .bigimage{
  width: 70%;
  margin-left: 15%;
  height: auto;
  padding-bottom: 2%;
 }

 .metlogo{
  width: 45%;
  height: auto;
  padding-top: 4%;
 }

 .metsubtitles{
  font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 500;
font-style: italic;
color:rgb(114, 114, 114);
font-size: 250%;
/* padding:2%; */
margin-left: 5%;
text-align: left;
width: 50%;
line-height: 200%;
 }

#sidebar{
  width: 20%;
  top: 0%;
  height: 100%;
  left:100%;
  background-color: rgba(255, 255, 255, 0.573);
  backdrop-filter: blur(10px);
  z-index: 300;
  position: fixed;
  font-family: neue-haas-grotesk-display, sans-serif;
  line-height: 2.7vw;
}
#sidebarlist{
  padding-top: 25%;
  list-style: none;
}
.sidebarcategories{
  font-size: 1.2vw;
  font-weight: 600;

}
.sidebarpages{
  font-size: 1vw;
}
.sidebarpages:hover{
  text-decoration: underline;
}

#explorebutton{
  cursor: pointer;
}
#closesidebar{
  cursor: pointer;
  display: none;
}

#mobilesidebar{
  display: none;
  width: 100%;
  position: fixed;
  z-index: 399;
  background-color: rgba(255, 255, 255, 0.573);
  backdrop-filter: blur(10px);
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 85%;
  line-height: 300%;
  height: 100%;
  left:110%;
}

#mobileexplore{
  cursor: pointer;
}

#mobileclose{
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 974px) {
  #mobilesidebar{
    display:block;
  }
}

#mobilesidebarlist{
  padding-top: 13%;
  list-style: none;
  text-align: center;
  padding-left: 0%;
}

.metsubtitles{
  font-size: 200%;
}


.mobilelistcategories{
  font-size: 200%;
  font-weight: 600;
}

.mobilelistpages{
  font-size: 150%;
}